<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : hexagons
    - Stereo_camera : ZED
-->    
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="base_frame"    default="plate_top_link" />
  <xacro:arg name="cam_pos_x"     default="0.125" />
  <xacro:arg name="cam_pos_y"     default="0.0" />
  <xacro:arg name="cam_pos_z"     default="0.01" />
  <xacro:arg name="cam_roll"      default="0.0" />
  <xacro:arg name="cam_pitch"     default="0.0" />
  <xacro:arg name="cam_yaw"       default="0.0" />

  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_common_library.urdf.xacro" />
  <xacro:include filename="$(find kobuki_description)/urdf/kobuki.urdf.xacro" />
  <xacro:include filename="$(find kobuki_zed_orb_slam3)/robot/hexagons.urdf.xacro"/>
  
  <xacro:kobuki/>

  <xacro:stack_hexagons parent="base_link">
  </xacro:stack_hexagons>

  <xacro:sensor_t265  parent="$(arg base_frame)">
    <origin xyz="$(arg cam_pos_x) $(arg cam_pos_y) $(arg cam_pos_z)" rpy="$(arg cam_roll) $(arg cam_pitch) $(arg cam_yaw)" />
  </xacro:sensor_t265>

  <xacro:os_sensor parent="$(arg base_frame)">
    <origin xyz="0 0 0.065" rpy="0 0 0" />
    <!-- 0.4675 -->
  </xacro:os_sensor>
  
</robot>
